
.header{

    background-color: black;
    text-align: center;
    color:white;

}



.containers{

flex-direction: row;
align-items: center;
justify-content: space-between;
padding: 50px;


}

.displayContainer{
    margin-right: 60%;
    background-color: grey;
    padding: 100px;

}

.videoStreamingContainer{
    margin-left: 80%;
    padding : 80px;
    text-align: center;
    background-color: bisque;
}

.mapContainer{
    margin-left :80%;
    background-color: green;
    margin-top: 20px;
    padding : 80px;
}

.iconContainer{

    flex-direction: row;
    justify-content: center;
    
} 



.icon_one{
    background-color: red;
    border-radius: 75px;
    padding: 20px;
    width: 100px;
    height: 100px;
    align-items: center;
    


}

.icon_two{

   background-color: grey;
  border-radius: 75px;
    padding: 20px;
    width: 100px;
    height: 100px;

}